.App {
  display: flex;
  flex-direction: column;
}

.App-card-wrapper {
  width: 580px;
}

@media only screen and (max-width: 580px) {
  /* For mobile phones: */
  .App-card-wrapper {
    width: 100%;
  }
}

.App-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

ul li {
  display: inline;
}

.bodyWrapper {
  flex: 1;
  flex-direction: column;
  background-color: '#F5F500';
}
